# General
/.vscode
/TODO.txt

# Python
/.py-env
/.pytest_cache
/server/.pytest_cache
/server/TODO.txt
/server/__pycache__
/server/.vscode

# Client Angular
/client-angular/node_modules
/client-angular/TODO.txt
